<% provide(:title, 'Manage') %>
<div class="row">
<aside class="span4">
    <section>
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %>
      </h1>
    </section>
  </aside>
</div>

