<h1>All users</h1>
  <table id="users" class="display">
    <thead>
      <tr>
        <th>user_id</th>
        <th>name</th>
        <th>email</th>
        <th>role</th>
        <th>orders</th>
        <th>edit</th>
      </tr>
    <thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>    
        
        
        
     