 <table id="items" class="display">
    <thead>
      <tr>
        <th>item_id</th>
        <th>user_id</th>
        <th>order_id</th>
        <th>category_id</th>
        <th>quantity</th>
        <th>weight</th>
        <th>price</th>
        <th>describe</th>
        <th>update_at</th>
      </tr>
    <thead>
    <tbody>
      <%= render @items %>
    </tbody>
  </table>   