 <table id="destinations" class="display">
    <thead>
      <tr>
        <th>destination_id</th>
        <th>start</th>
        <th>to</th>
        <th>price</th>
        <th>updated_at</th>
      
     
      </tr>
    <thead>
    <tbody>
      <%= render @destinations %>
    </tbody>
  </table>   