<% provide(:title, 'Price Table') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        From 
        <%= @destination.start %>
        To
        <%= @destination.dst %></br>
        Price:
        <%= @destination.price %>
      </h1>
    </section>
  </aside>

</div> 