 <h1>All Categories </h1>
 <table id="categories" class="display">
    <thead>
      <tr>
        <th>category_id</th>
        <th>name</th>
        <th>price</th>
        <th>updated_at</th>
       
     
      </tr>
    <thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>   