<% provide(:title, 'Category Table') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Name:
        <%= @category.name %></br>
        Price:
        <%= @category.price %>
        
      </h1>
    </section>
  </aside>

</div> 